body, h1, h2, h3, p, ul, li, table {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff; 
    font-family: 'cursive', cursive; 
    color: #15c93c; 
    margin: 0;
    padding: 0;
}

#site {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1em;
}

#masthead {
    margin-top: 3em;
    padding: 2em 0 0.5em 0;
    border-bottom: 1px solid #ddd;
}

#masthead h1 {
    margin: 0;
    font-size: 3.5em;
    overflow: hidden;
    padding-left: 85px;
    min-height: 82px;
    line-height: 2.3;
}

#shopping-cart {
    margin: 1.5em 0;
}

.shopping-cart {
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
}

.shopping-cart th {
    font-size: 1.3em;
    padding: 0.3em;
    width: 33.3%;
    border: 1px solid #ddd;
    text-transform: uppercase;
}

.shopping-cart td {
    padding: 0.3em;
    width: 33.3%;
    border: 1px solid #ddd;
}

.shopping-cart tr:nth-child(even) {
    background: #fafafa;
}

.shopping-cart td.pdelete {
    text-align: center;
}

.pdelete a,
.pdelete a:hover {
    color: #15c93c;
    text-decoration: none;
    font-size: 2.5em;
    display: block;
    text-align: center;
}

.btn {
    display: inline-block;
    background: #15c93c; 
    color: white;
    padding: 0.3em 1em;
    text-align: center;
    border-radius: 4px;
    border: 1px solid white;
    text-decoration: none;
    margin: 10px;
}

a.btn {
    display: inline-block;
    background: #15c93c;
    color: #fff;
    font-size: 1em;
    padding: 0.3em 1em;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #15c93c;
    text-decoration: none;
    margin: 10px;
}

#site-info {
    width: 100%;
    line-height: 3;
    text-align: center;
    background: #15c93c; 
    position: absolute;
    color: #fff;
    left: 0;
    bottom: 0;
    line-height: 1.9em;
}
